<h1>About me</h1>
<p>I was born and raised in the Philippines, and migrated to the United States when I was a teenager. I always had an interest in technology and how it is used to solve problems at a global scale. I decided to pursue computer science in college to know more how technology works and to follow my inner calling as innovator.</p>

<p>While studying in university, I gained first hand experience in software engineering, product development, and entrepreneurship by seeking outside opportunities and developing 
my own open-source projects such as videogames and web applications.</p>

<p>Now, I am a graduating senior and currently looking for a software development positions or other positions that deal with people such as customer relations, and business development. </p>

<p>My eventual goal is to be able to build, grow, and scale global engineering, customer relations, or business development teams to solve complex problems that have depth and breath, multifaceted and interdisciplinary.</p>
<p>You can reach me at <a href="mailto:niculistana@gmail.com">niculistana@gmail.com.</a></p>