<h1>About me</h1>
<p>I am a graduating computer science student who specializes in developing and designing products. I have been creating all sorts of things for almost 3 years, and have been enjoying every minute of it. I am a wearer of many hats, and get excited over little things! If you got an idea in mind, let me know, maybe I can help :)</p>
<p>You can reach me at <a href="mailto:niculistana@gmail.com">niculistana@gmail.com.</p>