<h1>Hello, my name is Nicu Listana.</h1>
<h2>I am a software developer and designer from San Francisco.</h2>
<h3>Welcome to my home page.</h3>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/iPeUpPQXZLjqJj" width="668" height="714" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/apebeast/nicu-listanas-resume" title="Nicu Listana&#x27;s Resume" target="_blank">Nicu Listana&#x27;s Resume</a> (Best viewed full screen)</strong> from <strong><a href="//www.slideshare.net/apebeast" target="_blank">Nicu Listana</a></strong> </div>