<h1>Hello, my name is Nicu Listana.</h1>
<h2>I am a software developer and designer from San Francisco.</h2>
<h3>Welcome to my home page.</h3>
<div id="resume">
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/iPeUpPQXZLjqJj" width="680" height="714" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
  <div style="margin-bottom:20px"> 
  <strong> <a href="//www.slideshare.net/apebeast/nicu-listanas-resume" title="Nicu Listana&#x27;s Resume" target="_blank">Nicu Listana&#x27;s Resume</a></strong> from <strong><a href="//www.slideshare.net/apebeast" target="_blank">Nicu Listana</a></strong>
  <br /><small>Note: Best viewed full screen</small>
</div>
</div>
<div id="resume-small" class="text-center">
  <a href="//www.slideshare.net/apebeast/nicu-listanas-resume" class="btn btn-primary" role="button" title="Nicu&#x27;s Resume" target="_blank">View Nicu&#x27;s Resume</a>
</div>
