/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*smaller sized screens*/
@media (min-width: 992px) {
  .container {
    width: 680px;
  }
}
/*general heading and styling*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Georgia,Times,Times New Roman,serif; 
  color: #3498db;
}

li a,
p.footer-links a,
p.footer-links p {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;  
}


.navbar-header a.navbar-brand {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  background-color: #3498db;
  color: #fff;
  border-right: 2px solid #2980b9;
  border-bottom: 2px solid #2980b9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 10px;
}

.navbar-header a.navbar-brand:hover {
  background-color: #3498db;
  color: #fff;
}

.navbar-default {
  border-radius: 15px;
  margin: 20px;
}

p, div {
  font-size: 12px;
  font-weight: 300;
  color: #7f8c8d;
}

.container .credit {
  margin: 10px 0;
}

/* disable collapse */
/*.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}*/

/* footer */
.footer-distributed{
  background-color: #f8f8f8;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  border: 1px solid #E7E7E7;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 12px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:16px;
  font-weight: 400;
  color:  #7f8c8d;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #7f8c8d;
}

.footer-distributed p.footer-links a:hover{
  font-size:20px;
  background-color: transparent;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border-radius: 15px;

  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

.footer-distributed .footer-right a:hover{
  width: 35px;
  height: 35px;
  font-size: 20px;
}

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

/* project-item */

.tags{
  margin: 10px 0;
}

.card {
  color: #fff;
  display: block;
  margin: 4px 0;
}

.tags img,
.tag img {
  display:block;
  width:100% \9;
  max-width:100%;
  height:auto
}

th {
  margin: 10px;
}

tr {

  vertical-align: top;
  text-align: left;
}

.row .col-sm-6 p {
  margin: 20px 10px;
}

.row .col-sm-6 img {
  margin: 20px 10px;
  display:block;
  max-width:100%;
  height:auto
}